<div class="row">

<%= render 'layouts/sidebar', user: @user, book: @book %>

  <div class="col-xs-9">
    <h2>Books</h2>
	<table class="table">
	  <thead>
	    <tr>
		  <th></th>
		    <th>Title</th>
			<th>Opinion</th>
			<th clospan="3"></th>
		</tr>
		</thead>
		<tbody>
		  <% @mybooks.each do |mybook| %>
		    <tr>
			  <td>
			  	<%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %>
			  </td>
			  <td>
			  	<%= link_to mybook.title, book_path(mybook.id) %>
			  </td>
			  <td>
			  	<%= mybook.body %>
			  </td>
			</tr>
		  <% end %>
		</tbody>
	</table>
  </div>
</div>
